:root {
  --c-white: #f4f5fc;
  --c-white-pure: #fff;
  --c-blue-subtle: #dde5f9;
  --c-blue: #3555f5;
  --c-yellow: #F6C973;
  --c-red: #F7784E;
  --c-green: #64C217;
  --c-grey-subtle: #cbcbd9;
  --c-grey-breeze: #f1f1f1;
  --c-grey: #686876;
  --c-purple: #a7abdd;
  --c-black: black;
  --c-primary: var(--c-blue);
  --c-secondary: var(--c-green);
  --color-alert: red;
  --color-success: greenyellow;
  --c-select: var(--c-primary);
  --c-select-alt: var(--c-white);
  --c-background: var(--c-white);
  --c-background-header: var(--c-white-pure);
  --c-background-panel: var(--c-white-pure);
  --gradient-primary: linear-gradient(to bottom right, aqua 0%, royalblue 100%);
  --gradient-grey: linear-gradient(to bottom right, lightgrey 0%, darkgray 100%);
  --gutter-xs: 5px;
  --gutter-s: 10px;
  --gutter: 15px;
  --gutter-l: 30px;
  --gutter-xl: 40px;
  --font-size-s: 0.8rem;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #777777;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* Main Title Area css
============================================================================================ */

.main_title {
  text-align: center;
  margin-bottom: 75px;
}

.main_title h2 {
  font-size: 36px;
  color: #222222;
  text-transform: uppercase;
}

.main_title p {
  line-height: 24px;
  color: #777777;
  max-width: 570px;
  margin: auto;
}

/* End Main Title Area css
============================================================================================ */

.main-menu {
  --tjb-menu-sub-bg: white;
  --tjb-menu-sub-b: 1px solid rgba(100, 100, 100, 0.1);
  --tjb-menu-sub-c: black;
  --tjb-menu-toggler-color: black;
  --tjb-menu-toggler-hover: var(--c-primary);
  --tjb-menu-mobile-bg: white;
  --tjb-menu-mobile-c: black;
  background: white;
  color: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  white-space: nowrap;
}

.nav-logo {
  width: 40px;
  margin-top: -5px;
  vertical-align: middle;
}

.nav-link {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  display: inline-block;
}

.nav-link:focus,.nav-link:hover,.nav-link:active {
  fill: var(--primary);
  color: var(--primary);
}

/* Home Banner Area css
============================================================================================ */

.home_banner_area {
  z-index: 1;
  background-image: -moz-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
  background-image: -webkit-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
  background-image: -ms-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
}

.home_banner_area .banner_inner {
  padding-top: 50px;
}

.home_banner_area .banner_inner .col-lg-5 {
  vertical-align: middle;
  align-self: center;
}

.home_banner_area .banner_inner .banner_content {
  text-align: left;
  color: #fff;
}

.home_banner_area .banner_inner .banner_content h2 {
  margin-top: 0px;
  font-size: 48px;
  font-weight: bold;
  line-height: 54px;
  margin-bottom: 20px;
}

.home_banner_area .banner_inner .banner_content p {
  color: #fff;
  margin-bottom: 35px;
}

.home_banner_area .banner_inner .banner_content .banner_btn {
  margin-right: 10px;
}

/* End Home Banner Area css
============================================================================================ */

.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

.single-input:focus {
  outline: none;
}

.form-select {
  height: 40px;
  width: 100%;
}

.form-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #f9f9ff !important;
  padding-left: 45px;
  padding-right: 40px;
  width: 100%;
}

.form-select .nice-select::after {
  right: 20px;
}

/* Work Area css
============================================================================================ */

.work_inner {
  margin-bottom: -50px;
}

.work_item {
  text-align: center;
  margin-bottom: 50px;
}

.work_item i {
  height: 80px;
  width: 80px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  background: #f9f9ff;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
  color: #222222;
  margin-bottom: 30px;
}

.work_item h4 {
  color: #222222;
  font-size: 20px;
  margin-bottom: 15px;
}

.work_item p {
  max-width: 310px;
  margin: auto;
}

.work_item:hover i {
  background-image: -moz-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
  background-image: -webkit-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
  background-image: -ms-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.work_item:hover h4 {
  color: #3555f5;
}

/* End Work Area css
============================================================================================ */

/* End Work Area css
============================================================================================ */

.made_life_area {
  background: #edf6ff;
}

.made_life_inner .nav.nav-tabs {
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.made_life_inner .nav.nav-tabs li {
  flex: 0 0 25%;
  max-width: 25%;
}

.made_life_inner .nav.nav-tabs li a {
  background: #fff;
  text-align: center;
  line-height: 60px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #222222;
  padding: 5px 15px;
}

.made_life_inner .nav.nav-tabs li a.active {
  background-image: -moz-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
  background-image: -webkit-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
  background-image: -ms-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.made_life_inner .tab-content .tab-pane {
  border: none;
  padding-top: 80px;
}

.made_life_text .col-lg-6 {
  vertical-align: middle;
  align-self: center;
}

.made_life_text h3 {
  color: #222222;
  line-height: 45px;
  font-size: 36px;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.made_life_text h6 {
  color: #222222;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.made_life_text p {
  margin-bottom: 0px;
}

.screen_area .main_title {
  margin-bottom: 40px;
}

.screen_area img {
  margin-bottom: -30px;
  max-width: 700px;
}

.img-fluid {
  width: 100%;
}

/* End Work Area css
============================================================================================ */

/* Impress Area css
============================================================================================ */

.impress_area {
  background: #3555f5;
}

.impress_area .impress_inner {
  text-align: center;
  max-width: 780px;
  margin: auto;
}

.impress_area .impress_inner h2 {
  color: #fff;
  font-size: 36px;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  margin-bottom: 18px;
}

.impress_area .impress_inner p {
  color: #fff;
  margin-bottom: 35px;
}

/* End Impress Area css
============================================================================================ */

/* Testimonials Area css
============================================================================================ */

.testimonials_area {
  position: relative;
  background: #edf6ff;
}

.testimonials_area .owl-next {
  position: absolute;
  right: 150px;
  background: #fff;
  font-size: 24px;
  color: #c1c1c1;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 300ms linear 0s;
  cursor: pointer;
  box-shadow: -14.142px 14.142px 20px 0px rgba(157, 157, 157, 0.2);
}

.testimonials_area .owl-next:hover {
  color: #222222;
}

.testimonials_area .owl-next {
  top: 50%;
  padding-top: 10px;
  padding-bottom: 15px;
}

.testimonials_area .owl-dots {
  text-align: center;
}

.testi_slider {
  margin-top: -30px;
  margin-bottom: -30px;
}

.testi_item {
  padding: 30px 0px;
}

.testi_item .media {
  border-radius: 10px;
  padding: 40px;
  background: #fff;
  transition: all 300ms linear 0s;
}

.testi_item .media .d-flex {
  margin-right: 25px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.testi_item .media .media-body p {
  margin-bottom: 20px;
}

.testi_item .media .media-body h4 {
  color: #222222;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  font-size: 20px;
  transition: all 300ms linear 0s;
}

.testi_item .media .media-body h5 {
  margin-bottom: 0px;
  font-size: 14px;
  color: #777777;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.testi_item .media .media-body .rating i {
  color: #ffc000;
}

.testi_item:hover .media {
  box-shadow: 0px 10px 30px 0px rgba(157, 157, 157, 0.2);
  background: #fff;
}

.testi_item:hover .media .media-body h4 {
  color: #3555f5;
}

/* End Testimonials Area css
============================================================================================ */

.pricing-area {
  padding: 150px 0;
}

.single-price {
  text-align: center;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

@media (max-width: 991px) {
  .single-price {
    margin-bottom: 30px;
  }
}

.single-price.featured {
  color: white;
  background: #3555f5;
}

.single-price .top-sec {
  border-bottom: 1px solid #eeeeee;
  padding: 40px 40px 22px 40px;
  text-align: left;
  transition: all 300ms linear 0s;
}

.single-price .end-sec {
  transition: all 300ms linear 0s;
  padding: 40px;
}

.single-price .end-sec ul {
  all: unset;
}

.single-price .end-sec ul li {
  list-style: none;
  margin-bottom: 20px;
}

#results-container {
  position: absolute;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

#results-container li {
  margin-bottom: 20px;
}
